.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logout-button {
  color: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  height: 35px;
  width: 120px;
  font-family: 'Roboto';
}
